* {
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", sans-serif;
}

ul, li {
    list-style: outside none none;
}

ul {
    margin-left: -25px;;
}

ul > li {
    margin-left: -10px;;
}

.answer-list > div {
    border: 1px solid #f38399;
    border-radius: 3px;
    margin-bottom: 10px;
}

div.divider {
    border-bottom: 2px solid #f38399;
}

h2 a, h3 a, h4 a {
    font-weight: normal;
    font-size: 18px;
}
h3{
    margin-bottom: 0;
}

.tips .success {
    color: #02ff98;
    font-weight: bold;
}

.test-list > li,.diary-list > li {
    border: 2px solid #ddd;
    border-radius: 5px;
    /*padding-bottom: 10px;*/
    margin-bottom: 5px;
}

div.toggleClass {
    display: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}

ul.operate-list li {
    display: inline;
    padding-right: 30px;
}

.gray {
    color: #cccccc;
}

/*问题列表的菜单*/
.list-menu {
    background-color: #ffd;
    border: 2px solid #F1B5FD;
    border-radius: 3px;
    position: absolute;
    padding-top: 20px;
}

.errormessage {
    color: red;
}

.correct {
    color: #4eba22;
    font-weight: bolder;
}

.errormessageBig {
    font-size: 20px;
    color: red;
}

.successMessageBig {
    font-size: 20px;
    color: #47BED9;
    background-color: white;
}
input[type=submit] {
    padding: 10px 30px;
    border: 0 none;
    background-color: #05a1e7;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
input.submit {
    padding: 10px 30px;
    border: 0 none;
    background-color: #05a1e7;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
.list-menu li:hover{
    color:#333; background:#eff4f7;
}
.upload-pic{
    border: 2px solid #F1B5FD;
    border-radius: 4px;
}
.iconExit {
    background: url('http://i.static.chanjet.com/chanjet/images/workbench/userExtMenuIcon_exit.png');
    background-repeat: no-repeat;
    margin-right: 5px;
}
.preview{
    border: 1px solid #F1B5FD;
    border-radius: 4px;
    padding: 10px 4px;
    background-color: #eff4f7;
}
.diary-list img,.preview img{
    max-width: 100%;
}

@media only screen and (max-width : 480px) {
    textarea{
        font-size: 18px;
    }
}
